span{
    padding: 10px 20px;
}
.chart{
    width: 450px;
    float: left;
    margin: 30px;
}
.all-chart{
    width: 1200px;
    display: inline-block;
    margin: 4px 70px;
}
.total-value{
    text-align: center;
    margin: 40px 8% 5px;
    border: silver solid 1px;
    width: 900px;
    padding: 25px;
}
.detail-total-value{
    text-align: center;
    margin: 40px 4% 20px;
    border: silver solid 1px;
    width: 1200px;
    padding: 25px;
}